#left{
	position: fixed;
	left:0;
	width:500px;
	height:1100px;
	margin-top:-2.6em;
}

#main{
	margin-left:37em;
	margin-top:2em;
}


#gengxin{
	margin-top:5em;
}

.message{
	margin-left:20em;
	margin-top:-9em;
	width:600px;
}

.section{
	margin-left:20em;
}

.footer{
	margin-left:10em;
	margin-top:50em;
}

.heading{
	font-size:50px;
}

.maodian{
	margin-left:110em;
	margin-top:55em;
	width:70px;
	height:30px;
	background-color:#717171;
}