a{
  text-decoration:none;
	font-weight:650;
	color:#273336;
	font-size:26px;
}


#left{
	position: fixed;
	left:0;
	width:500px;
	height:1100px;
	margin-top:-0.6em;
}

#main{
	width:1600px;
	margin-left:30.7em;
	margin-top:2em;
	background-color:#FFFFFF;
}

#jianjie{
	width:1500px;
	height:350px;
	margin-top:-2em;
	padding-left:3em;
	background-color:#D2E5ED;
}

#gengxin{
	margin-top:5em;
	margin-left:2em;
}

#fenlei{
	margin-left:2em;
	text-decoration:none;
}

#liulan{
	margin-left:2em;
}

.message{
	margin-left:20em;
	margin-top:-10em;
	width:650px;
	line-height:40px;
	color:#273336;
	font-size:20px;
	font-weight:700;
}

.section{
  width:140px;
  height:400px;
  margin-top:10px;
	margin-left:17em;
	list-style:none;
  text-align:center;
  background-color:#F3573B;
}

.footer{
	margin-left:10em;
	margin-top:30em;
}

.heading{
	font-size:50px;
}

.avatar{
	margin-left:5em;
	margin-top:2em;
}

.maodian{
	margin-left:110em;
	margin-top:56em;
	width:100px;
	height:27px;
	padding:5px;
	border-radius:30px;
	background-color:#F3573B;
	text-align:center;
	font-weight:700;
  font-size:16px;
	color:#273336;
}

.fl01{
  border-radius:20px;
}

.fl02{
  margin-left:100px;
}

.jj{
  border-radius:20px;
}

.zjgx{
  border-radius:20px;
}

.ll{
  border-radius:20px;
}

.maodian:hover{
  background-color:#F59643;
  -webkit-transition:all .2s ease-in-out;
}

.jj:hover{
  background-color:#F59643;
  -webkit-transition:all .2s ease-in-out;
}

.zjgx:hover{
  background-color:#F59643;
  -webkit-transition:all .2s ease-in-out;
}

.fl01:hover{
  background-color:#F59643;
  -webkit-transition:all .2s ease-in-out;
}

.ll:hover{
  background-color:#F59643;
  -webkit-transition:all .2s ease-in-out;
}
