body {
    background-color: #233142 !important;
}

.top-bar {
    width: 80%;
    margin: auto;
}

.maodian {
    color:#e3e3e3;
    margin-left:96%;
    margin-top:2%;
}

.maodian :hover {
    color:#f95959;
}

.fanhui {
    color: #e3e3e3;
    margin-left: 96%;
    margin-top: 5%;
}

.fanhui :hover {
    color: #f95959;
}

.main .pic-carousel {
    width: 60%;
    margin: auto;
}

.main .classification {
    background-color: #e3e3e3;
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
}

.main .classification .breadcrumb {
    background-color: #e3e3e3;
}

.main .classification .breadcrumb .breadcrumb-item{
    margin: auto;
}

.main .classification .breadcrumb .breadcrumb-item .hash {
    color:#233142;
}

.main .classification .breadcrumb .breadcrumb-item :hover {
    color:#f95959;
}

.main .classification #latest {
    text-align:center;
    font-size:120%;
    color:#233142;
    margin: auto;
    padding-bottom:2%;
}

.main .display-bar {
    width: 50%;
    margin: auto;
}

.main .display-bar > * {
    width:100%;
    margin-top: 3%;
}

.main .footer {
    background-color: #e3e3e3;
}

.main .footer .jumbotron {
    background-color: #e3e3e3;
}

.main .footer .feedback {
    width: 50%;
    margin: auto;
}

.main .card {
    width: 60%;
    margin:auto;
    margin-bottom:2%;
}

.top-bar .jumbotron {
    background-color: #e3e3e3;
}

.top-bar .jumbotron .links >* {
    margin-left:3%;
}